{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "sortTailwindcssClasses": true
            }
        },
        {
            "files": ["*.js", "*.html", "*.css", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}