{
    "plugins": ["prettier-plugin-blade", "@prettier/plugin-php", "prettier-plugin-tailwindcss"],
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "phpVersion": "8.2",
    "trailingCommaPHP": true,
    "overrides": [
        {
            "files": ["*.php", "*.blade.php"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.js", "*.html", "*.css", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
